#hero__image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/top-hero-img03.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#hero__text,
.mv__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    color: #fff;
    transform: translate(-50%, -50%);
}

.mv {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#about__mv {
    background-image: url("../img/about-img.jpg");
}
#service__mv {
    background-image: url("../img/service-img.jpg");
}
#recruit__mv {
    background-image: url("../img/recruit-img.jpg");
}
#interview__mv {
    background-image: url("../img/interview-img.jpg");
}
